@page "/"
@inject NavigationManager Navigation
@inject HttpClient Http

<div class="page-container">
    <div class="login-box">
        <div class="login-header">
            <header>LOGIN</header>
        </div>
        <div class="input-box">
            <input @ref="EMAILINP" type="text" class="input-field" placeholder="EMAIL" autocomplete="off" required />
        </div>
        <div class="input-box">
            <input @ref="PASSWORDINP" type="password" class="input-field" placeholder="PASSWORD" autocomplete="off" required />
        </div>
        <div class="forgot">
            <section>
                <input type="checkbox" id="check" />
                <label for="check">REMEMBER ME</label>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" @onclick="@ValidateLOGIN" id="submit"></button>
            <label for="submit">SIGN IN</label>
        </div>
    </div>
</div>

@code {
    private string EMAIL = string.Empty;
    private string PASSWORD = string.Empty;

    private ElementReference EMAILINP;
    private ElementReference PASSWORDINP;


    private async Task ValidateLOGIN()
    {
        EMAIL = EMAILINP.ToString();
        PASSWORD = PASSWORDINP.ToString();

        var response = await Http.GetAsync($"http://localhost:5001/api/user/{EMAIL}");

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/overview");
        }
        else
        {
            Navigation.NavigateTo("/");
        }
    }
}
